@model ZTestExtractor.MVC.Models.Tests.TestViewModel

<h2>@TestResource.Projects</h2>

@if (Model.IsDatabaseConfiguredCorrectly)
{
    <p>@TestResource.ChooseAProject</p>

    <br />

    <select id="project">
        @foreach(var project in Model.Projects)
        {
            <option value="@project.Id">@project.Name (@project.Key)</option>
        }
    </select>
}
else
{   
    <p class="warning">@TestResource.NoDatabaseConnection</p>
    <p>@TestResource.YouMustConfigureYourDatabase</p>
    
    <p>
        @Html.Raw(
            TestResource.PleaseGoToConfiguration.F(
                Html.ActionLink("configuration area", "Configure", "Home", new { area = "" })
            )
        )
    </p>
}