@model ZTestExtractor.MVC.Models.Tests.TestViewModel

@section scripts{
    <script type="text/javascript" src="~/Scripts/Pages/Test/ProjectForm.js"></script>
}

<h2>@TestResource.Projects</h2>

@if (Model.IsDatabaseConfiguredCorrectly)
{
    <p>@TestResource.ChooseAProject</p>

    <br />

    <p id="projectSelection">
        <select id="project">
            <option value="-1"> --@TestResource.SelectProject--</option>
            @foreach (var project in Model.Projects)
            {
                <option value="@project.Id">@project.Name (@project.Key)</option>
            }
        </select>
    </p>
    
    <p id="versionSelection">
    </p>
    
    <article id="projectContent">
        
    </article>
}
else
{
    Html.RenderPartial("NoDatabaseConfiguration");
}