<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="content">
        <header class="navbar">
            <h2>
                @Html.ActionLink("Z Test Extractor", "Index", "Home", new { area = "" })
            </h2>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav clearfix">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Configure", "Configure", "Home")</li>
                </ul>
            </div>
        </header>
        <div class="container">
            @RenderBody()
            <hr />
            <footer>
                <p><a href="https://github.com/Morkalork/ZTestExtractor/">Find out more about ZTest Extractor on GitHub!</a></p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
